@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../images/fondo.png");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(134, 132, 132);
}

img {
  width: 80%;
  height: auto;
}

nav, .servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios, .presentacion {
  margin-bottom: 10%;
}

p {
  font-size: 1.8rem;
  color: rgb(134, 132, 132);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.btn, .btn-principal {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms;
}
.btn:hover, .btn-principal:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: #fff;
  background-color: #6495ED;
}

.btn-basic {
  margin: 10px 0px;
  background: #6495ED;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 0.7em 1.5em;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s all ease;
}
.btn-basic:hover {
  transform: scale(1.1);
}

.logo {
  width: 100px;
}

header {
  position: fixed;
  top: 0;
  border-top: 30px solid rgba(20, 95, 206, 0.781);
  width: 100%;
}

.wrapper {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper-precios {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  padding: 0;
}
nav ul a {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
nav ul a:hover {
  color: #6495ED;
  transform: scale(1.1);
}

.presentacion {
  padding-top: 200px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.presentacion .flex-item2 {
  text-align: center;
}
.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 3rem;
}
.presentacion p {
  padding-right: 20px;
  padding-bottom: 10px;
}

.servicios div {
  text-align: center;
}
.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.servicios .tipo-servicios i {
  font-size: 30px;
  color: #6495ED;
}

.body-form {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.body-form .box-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 20px;
}
.body-form .form-box {
  width: 100%;
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 4px;
  background-color: #fff;
}
.body-form .c-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body-form .c-form-label {
  display: inline-block;
  margin: 0.5rem 0;
  color: #3d3935;
  letter-spacing: 0.2px;
  font-size: 1rem;
}
.body-form .c-form-input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #3d3935;
  border-radius: 4px;
  background-color: #fff;
  color: #3d3935;
  outline: 0;
}
.body-form .c-form-input::-moz-placeholder {
  color: #867d6c;
  font-size: 1rem;
}
.body-form .c-form-input::placeholder {
  color: #867d6c;
  font-size: 1rem;
}
.body-form .c-form-required {
  color: #b0092d;
}
.body-form textarea.c-form-input {
  width: 100%;
  min-height: 10ch;
  max-height: 120ch;
  padding: 10px;
  resize: none;
}
.body-form .two-columns {
  display: grid;
  grid-template-columns: 100%;
}
.body-form fieldset {
  margin: 0.4rem 0;
  padding: 0;
  border: none;
}

footer {
  min-height: 80px;
  background-color: rgba(20, 95, 206, 0.781);
  margin-top: 0;
}
footer .footer-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

@media (min-width: 1400px) {
  nav, .servicios, .footer-content, .presentacion {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .presentacion, .tipo-servicios {
    flex-direction: column;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  nav ul {
    padding-left: 0;
  }
}
@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 20px;
  }
  .presentacion div h1, .presentacion div p {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */