* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-basic{
    margin: 10px 0px;
    background: #47b0ef;
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s all ease;
}

/******* HEADER ********/
.header-container {
    background-color: rgb(28,68,116);
}

.img-logo {
    width: 90px;
    display: inline-block;
    margin-inline-start: 20px;
    margin-right: 60px;
}

.navbar-section {
    background-color: rgb(28,68,116);
  }
  
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(28,68,116);
}
  
li {
    float: left;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
  
li a:hover  {
    background-color:  rgb(2, 34, 73);
} 

/******* SECTION ********/
.div-imagen-fondo {
    background-image: url(/images/imagen-fondo.jpg);
    background-size: 100%;
    justify-content: center;
}
/******* SECTION ABOUT_US ********/
/******* SECTION WHY ********/
/******* SECTION PRICING ********/
.icon-price-1, .icon-price-2{
    width: 90px;
    display: inline-block;
    margin-inline-start: 20px;
    margin-right: 60px;
}

.box{
    text-align: center;
    margin: 10px;
    padding:10px;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
    border-radius: 25px;
}

.detalle-precio{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.precio-tag{
    font-weight: bold;
    color: #47b0ef
}

.box-text{
    margin-top: 30px;
    text-align: justify;
    color: #484848;
    font-size: 15px;
}

/******* CONTACT ********/
/******* FOOTER ********/
.footer-container {
    background-color: rgb(28,68,116);
}

.footer-icons {
    justify-content: center;
    align-items: center;

}

.instagram-icon, .facebook-icon, .whatsapp-icon {
    width: 30px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 20px;
    display: flex;
    justify-content: center;
}