@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// Globales

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: url('../images/fondo.png');
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: rgb(134, 132, 132);
}

img{
    width:80%;
    height: auto;
}

nav, .servicios, .presentacion, .presentacion2, .footer-content{
    width: 80%;
    margin:auto;
}

.titulo-servicios, .presentacion, .presentacion2{
    margin-bottom: 10%;
}

// Variables

$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;

p{
    font-size:$font-p;
    color: rgb(134, 132, 132);
}

li{
    font-size:$font-p;
    color: rgb(134, 132, 132);
}

h2{
    font-size: $font-h2;
}

h3{
    font-size: $font-h3;
    font-weight:lighter;
}

.btn{
    border: none;
    border-radius:2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1.5rem;
    font-weight: 500;
    transition: transform 100ms;
    &:hover{
        transform: scale(1.1);
    }  
}

.btn-principal{
    @extend .btn;
    color: #fff;
    background-color: #6495ED;
}

.btn-basic{
    margin: 10px 0px;
    background: #6495ED;
    border-radius: 2px;
    border: none;
    color: #fff;
    padding: 0.7em 1.5em;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s all ease;
    &:hover{
        transform: scale(1.1);
    }
}


// MIXINS;

@mixin caja-flex($principal, $cruzado, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}
